
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  color: #2e2e2e;
}

  /** alternate white foreground trick for fluid, doesn't go 100% of height **/
  body.grid-type-fluid #header-group,
  body.grid-type-fluid #main,
  body.grid-type-fluid #footer {
    border-left: 25px solid #fff; border-right: 25px solid #fff; background: #fff;
  }
  body.grid-type-fluid #main { position: relative; top: -3px; /* fluid fix */ }

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color: #4a7470;
  text-decoration: underline;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-docoration: none;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  margin-top: 20px;
  font-family: Georgia; /** default if google fonts not enabled **/
  font-size: 2.4em;
  padding-bottom: 20px; /* ie7 fix */
}

/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Google fonts */
body h1.title, body #site-name, body h2.block-title, body h2.pane-title {
  font-family: "Neuton"; font-weight: normal;
}

/* Site Info
-------------------------------------------------------------- */
/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  float: left;
  margin-right: 20px;
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  color: #454344;
}

/* Typography for site slogan */
#slogan {
}


/* Regions
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
.page {
}

.row {
}
  /** override default bc kills the top border on the primary tabs **/
  .row, .nested, .block { overflow: visible; }

/* Site info + Header Region
-------------------------------------------------------------- */
.header-group {
  position: relative;
  height: 90px;
  z-index: 500;
}
  #header-site-info { margin-top: 30px; }

/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */

#block-superfish-1 {
  float: right;
  width: auto;
  margin-top: 17px;
  overflow: visible;
}

#block-superfish-1 .inner {
  position: relative;
}

/* styles for Superfish primary menu */
#block-superfish-1 ul.sf-menu, #block-superfish-1 ul {
  margin-left: 0;
}

#block-superfish-1 .sf-shadow ul {
  border-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

/* Link style for top level menu items, add padding here */
#block-superfish-1 ul.sf-menu a,
#block-superfish-1 ul.sf-menu a:visited  {
  border-top: 7px solid #fff;
  padding: .2em .4em;
  color: #454344;
  font-weight: normal;
  font-size: 1.1em;
  text-decoration: none;
}

#block-superfish-1 ul.sf-menu a.active {
  font-weight: bold;
  border-top: 7px solid #d6e6c2;
}

#block-superfish-1 ul.sf-menu a:hover,
#block-superfish-1 ul.sf-menu a:active,
#block-superfish-1 ul.sf-menu a:focus {
  border-top: 7px solid #d6edf5;
}

/* These are the top level menu items, add border-right here for separators */
#block-superfish-1 ul.sf-menu li {
  margin-left: 1.5em;
}

/* Add border-right: 0; here to remove separator on last menu item */
#block-superfish-1 ul.sf-menu li.last {
}

/* Style for container of dropdown, add background or border */
#block-superfish-1 ul.sf-menu ul {
  background: #e2efd3;
  border: 1px solid #ccc;
}

/* Style for individual dropdown menu items, add border-bottom for separators */
#block-superfish-1 ul.sf-menu li li {
  margin-left: 0;
}
  #block-superfish-1 ul.sf-menu li li a,
  #block-superfish-1 ul.sf-menu li li a.active,
  #block-superfish-1 ul.sf-menu li li a:visited {
    border-top: 5px solid #fff;
  }
  #block-superfish-1 ul.sf-menu li li a:hover {
    border-top: 5px solid #ccc;
    background: #d6edf5;
  }

#block-superfish-1 ul.sf-menu li li.last {

}

#block-superfish-1 ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
#block-superfish-1 ul.sf-menu li ul li:hover,
#block-superfish-1 ul.sf-menu li ul li.sfHover {
}

/* Secondary menu
-------------------------------------------------------------- */

#block-menu-menu-secondary-links {
  padding-top: 1em;
}

#block-menu-menu-secondary-links h2.title { display: none; }

#block-menu-menu-secondary-links ul.menu { text-align: right; font-size: 1.1em; }
  #block-menu-menu-secondary-links .inner { margin-left: 0; margin-right: 0; }


/* Styles for links */
#block-menu-menu-secondary-links ul.menu li a:link,
#block-menu-menu-secondary-links ul.menu li a:visited {
  color: #38735f;
  white-space: nowrap;
}

/* Footer - Search
-------------------------------------------------------------- */

#block-search-form {
  width: auto;
  font-size: 1.1em;
  padding-top: 1em;
}

#block-search-form input.form-text {
  border: 1px solid #afafaf;
  border-top-color: #7e8689;
  color: #5d6265;
  float: left;
  width: 23em;
  height: 25px;
  line-height: 23px;
  text-indent: .3em;
}

#block-search-form input.form-submit {
  border: 1px solid #afafaf;
  background: #b4c3c8;
  width: 6em;
  height: 31px;
  border-top-color: #7e8689;
  color: #5d6265;
  float: left;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/*  Main Area (content + sidebars)
-------------------------------------------------------------- */
.main {
  clear: both;/* opera fix*/
}

#content-group-inner { margin-left: 10px; margin-right: 10px; }

/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}

/* Content Regions
-------------------------------------------------------------- */
.content {
}

/*  Footer Region
-------------------------------------------------------------- */
.footer {
}

  body.not-front .footer { padding-top: 2em; }

.footer .block { margin-bottom: .5em; }
  body .footer .block .inner div.content { padding: 0 1px; }

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  font-family: Georgia; /** default if google fonts not enabled **/
  margin-left: 0;
  margin-bottom: 1em;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}


/* Tab Area
-------------------------------------------------------------- */
ul.tabs {
  margin-left: 0;
  position: relative;
  z-index: 500;
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}

/* Default block title styles
/-------------------------------------------------------------- */
div.block div.node { margin: 0; }

h2.block-title {
  font-family: Georgia; /** default if google fonts not enabled **/
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}

#breadcrumbs-inner { margin-left: 0; }

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}

/* Skinr
/-------------------------------------------------------------- */

/*************************************
  Block background styles
*************************************/

/* All block background styles, adjust spacing */
.block-background-lt-green.block .inner,
.block-background-lt-blue.block .inner,
.block-background-dark-blue.block .inner,
.block-background-lt-gray.block .inner,
.block-background-lt-green.block .pane-content,
.block-background-lt-blue.block .pane-content,
.block-background-dark-blue.block .pane-content,
.block-background-lt-gray .pane-content {
  padding: 10px;
}

/* Light Green */
.block-background-lt-green .inner,
.block-background-lt-green .pane-content {
  background: #e0f5ee;
}

/* Light blue */
.block-background-lt-blue .inner,
.block-background-lt-blue .pane-content {
  background: #d6edf5;
}

/* Dark Blue */
.block-background-dark-blue .inner,
.block-background-dark-blue .pane-content {
  background: #75b0c0; color: #fff;
}
  .block-background-dark-blue a { color: #fff; }

/* Light Gray */
.block-background-lt-gray .inner,
.block-background-lt-gray .pane-content {
  background: #f9f9f9;
}


/*************************************
  Block background title styles
*************************************/

/* All block title background styles, adjust spacing */

/* blocks */
.block-title-med-green h2.block-title,
.block-title-med-blue h2.block-title,
.block-title-med-gray h2.block-title,
.block-title-lt-green h2.block-title {
  padding: 10px 13px;
  border-bottom: 1px solid #000;
}
/* panels */
div.panels-ipe-display-container .block-title-med-green h2.pane-title,
div.panels-ipe-display-container .block-title-med-blue h2.pane-title,
div.panels-ipe-display-container .block-title-med-gray h2.pane-title,
div.panels-ipe-display-container .block-title-lt-green h2.pane-title {
  padding: 10px 13px;
}

.block-title-med-green h2.pane-title,
.block-title-med-blue h2.pane-title,
.block-title-med-gray h2.pane-title,
.block-title-lt-green h2.pane-title, {
  padding: 10px 13px;
  border-bottom: 1px solid #000;
  margin: 0;
}

  .block-title-med-green.block .inner,
  .block-title-med-blue.block .inner,
  .block-title-med-gray.block .inner,
  .block-title-lt-green.block .inner {
    padding: 0 0 10px;
  }
    .block-title-med-green.block .inner div.content,
    .block-title-med-blue.block .inner div.content,
    .block-title-med-gray.block .inner div.content,
    .block-title-lt-green.block .inner div.content {
      padding: 0 10px;
    }
      .block-title-med-green.block .inner div.content div.content,
      .block-title-med-blue.block .inner div.content div.content,
      .block-title-med-gray.block .inner div.content div.content,
      .block-title-lt-green.block .inner div.content div.content {
        padding: 0;
      }

/* Medium Green */
.block-title-med-green h2.block-title,
.block-title-med-green h2.pane-title {
  background: #8cc5b2;
  color: #0b291f;
  border-bottom-color: #88b7a7;
}

/* Medium Blue */
.block-title-med-blue h2.block-title,
.block-title-med-blue h2.pane-title {
  background: #a9cfdc;
  color: #2a4117;
  border-bottom-color: #9dc3d0;
}

/* Medium Gray */
.block-title-med-gray h2.block-title,
.block-title-med-gray h2.pane-title {
  background: #f5f5f5;
  border-bottom-color: #efefef;
}

/* Light Green */
.block-title-lt-green h2.block-title,
.block-title-lt-green h2.pane-title {
  background: #adcd84;
  border-bottom-color: #a6be80;
}

/*************************************
  Rounded corners style
*************************************/

.rounded-corners .inner,
.rounded-corners .pane-content {
  border-radius: .3em;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
}

/* combinations of rounded corners with skinr title styles */

/* blocks */
.block-title-med-green.rounded-corners .inner,
.block-title-med-blue.rounded-corners .inner,
.block-title-med-gray.rounded-corners .inner,
.block-title-lt-green.rounded-corners .inner {
  border-radius: .5em .5em .3em .3em;
  -webkit-border-radius: .5em .5em .3em .3em;
  -moz-border-radius: .5em .5em .3em .3em;
}

  /* blocks */
  .block-title-med-green.rounded-corners h2.block-title,
  .block-title-med-blue.rounded-corners h2.block-title,
  .block-title-med-gray.rounded-corners h2.block-title,
  .block-title-lt-green.rounded-corners h2.block-title,
  /* panels */
  .block-title-med-green.rounded-corners h2.pane-title,
  .block-title-med-blue.rounded-corners h2.pane-title,
  .block-title-med-gray.rounded-corners h2.pane-title,
  .block-title-lt-green.rounded-corners h2.pane-title {
    border-radius: .3em .3em 0 0;
    -webkit-border-radius: .3em .3em 0 0;
    -moz-border-radius: .3em .3em 0 0;
  }

/*************************************
  Margin/Padding top/bottom styles
*************************************/

.margin-top-1em { margin-top: 1em; }
.margin-top-2em { margin-top: 2em; }
.margin-bottom-1em { margin-bottom: 1em; }
.margin-bottom-2em { margin-bottom: 2em; }
.padding-top-1em { padding-top: 1em; }
.padding-top-2em { padding-top: 2em; }
.padding-bottom-1em { padding-bottom: 1em; }
.padding-bottom-2em { padding-bottom: 2em; }

/* Admin Toolbar http://drupal/project/toolbar z-index fix */
div#toolbar-toolbar {  z-index: 1000; }